<html>
<head> 
	<meta charset="UTF-8">
	<title>도서 목록</title>
	<link href="/BookMarket/css/bootstrap.min.css" rel="stylesheet" >
	<script src="/BookMarket/js/controllers.js"></script>
</head>
<body>
<div class="container py-4">
	<th:block th:replace="~{module/header}"></th:block>

	<div class="p-5 mb-4 bg-body-tertiary rounded-3">
 		<div class="container-fluid py-5">
			<h1 class="display-5 fw-bold">도서 목록</h1>
			<p class="col-md-8 fs-4">BookMarket</p>       
		</div>
	</div>

 	<div class="row align-items-md-stretch text-center">
		<div class="col-md-4" th:each="book:${bookList}">
		<img th:src="'/BookMarket/images/'+${book.fileName}" alt="image" style = "width: 60%" />
			<h3 th:text ="${book.name}"></h3>
			<p th:text = "${book.author}">
			<p th:text = "${book.publisher} + '|'+ ${book.releaseDate}"> 
			<p align="left" th:text = "${book.description}">
			<p th:text = "${book.unitPrice}+'원'">	
			<p><a th:href= "'/BookMarket/books/book?id='+${book.bookId}" class=" btn btn-Secondary" role="button">상세정보 &raquo;</a> 
		</div>  

  </div>
	<th:block th:replace="~{module/footer}"></th:block>
</div>
</body>
</html>