<html>
<head> 
	<meta charset="UTF-8">
	<title>도서 상세  정보</title>
	<link href="/BookMarket/css/bootstrap.min.css" rel="stylesheet" >
	<script src="/BookMarket/js/controllers.js"></script>
</head>
<body>
<div class="container py-4">
	<th:block th:replace="~{module/header}"></th:block>

	<div class="p-5 mb-4 bg-body-tertiary rounded-3">
 		<div class="container-fluid py-5">
			<h1 class="display-5 fw-bold">도서 정보</h1>
			<p class="col-md-8 fs-4">BookMarket</p>       
		</div>
	</div>

 	<div class="row align-items-md-stretch">
 	   		<div class="col-md-4">
		 		<img th:src="'/BookMarket/images/'+${book.getFileName()}" style="width: 90%" />		
		 		<div class="text-center"> 	
		 			<a th:href="@{download(file=${book.fileName})}" style="text-decoration-line:none">이미지다운로드</a>
				</div>
		 	</div>
		<div class="col-md-8">
			<h3 th:text ="${book.name}"></h3> 
				<p th:text ="${book.description}"></p>
				<br>
				<p><b>도서코드 : </b><span class="badge text-bg-info" th:text ="${book.bookId}"></span>
				<p><b>저자</b> : <span th:text ="${book.author}"></span>
				<p><b>출판사</b> : <span th:text ="${book.publisher}"></span>
				<p><b>출판일</b> : <span th:text ="${book.releaseDate}"></span>
				<p><b>분류</b> : <span th:text ="${book.category}"></span>
				<p><b>재고수</b> : <span th:text ="${book.unitsInStock}"></span>
				<h4 th:text ="${book.unitPrice}+'원'"></h4>
				<br>
				<form name="addForm" id="addForm" method="post">
					<input type="hidden" name="_method" value="put"/>
					<p>
					<a th:href="'javascript:addToCart(\''+${book.bookId}+'\')'" class="btn btn-primary">도서주문 &raquo;</a>
					<a href="/BookMarket/cart" class="btn btn-warning">장바구니 &raquo;</a>
					<a href="/BookMarket/books" class="btn btn-secondary">도서 목록 &raquo;</a>

				</form>

		</div> 

  </div>
	<th:block th:replace="~{module/footer}"></th:block>
</div>
</body>
</html>