<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8">
	<title>주문 정보 수정(관리자전용)</title>
	<link href="/BookMarket/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<div class="container py-4">
	<th:block th:replace="~{module/header}"></th:block>

	<div class="p-5 mb-4 bg-body-tertiary rounded-3">
 		<div class="container-fluid py-5">
			<h1 class="display-5 fw-bold">주문 정보 수정</h1>
			<p class="col-md-8 fs-4">BookMarket</p>       
		</div>
	</div>
	<div class="row align-items-md-stretch">
		<div class="container col-md-10 py-5" style="background: #fafafe">
			<form th:object="${order}" action="/BookMarket/order/save" method="post">
				<input type="hidden" name="orderId" th:field="*{orderId}"/>
				<input type="hidden" name="shipping.id" th:field="*{shipping.id}"/>

				<div class="row text-left">
					<b>배송 주소</b><br>
					<div class="mb-3 row">
						<label class="col-sm-2 control-label">성명</label>
						<div class="col-sm-3">
							<input type="text" name="shipping.name" th:field="*{shipping.name}">
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-2 control-label">국가</label>
						<div class="col-sm-3">
							<input type="text" name="shipping.address.county" th:field="*{shipping.address.country}">
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-2 control-label">우편번호</label>
						<div class="col-sm-3">
							<input type="text" name="shipping.address.zipcode" th:field="*{shipping.address.zipcode}">
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-2 control-label">주소</label>
						<div class="col-sm-3">
							<input type="text" name="shipping.address.addressName" th:field="*{shipping.address.addressName}">
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-2 control-label">상세주소</label>
						<div class="col-sm-3">
							<input type="text" name="shipping.address.detailName" th:field="*{shipping.address.detailName}">
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-2 control-label">배송일</label>
						<div class="col-sm-3">
							<input type="text" name="shipping.date" th:field="*{shipping.date}">
						</div>
					</div>
					<div class="row text-left">
						<div class="col-md-6 py-2">
							<address>
								<b>청구 주소</b><br>
								성명: [[${order.customer.name}]]<br>
								우편번호: [[${order.customer.address.zipcode}]]<br>
								주소: [[${order.customer.address.addressName}]] [[${order.customer.address.detailName}]] ([[${order.customer.address.country}]])<br>
								모바일: [[${order.customer.phone}]]<br>
							</address>
						</div>
					</div>

					<div class="row py-2">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>도서</th>
									<th>수량</th>
									<th class="text-center">가격</th>
									<th class="text-center">소계</th>
								</tr>
							</thead>
							<tbody>
								<div class="col-md-4" th:each="cartItem:${order.orderItems}">
									<tr>
										<td>
											<em th:each="book:${bookList}" th:if="${#strings.equals(book.bookId, cartItem.value.bookId)}">[[${book.name}]]</em>
										</td>
										<td class="text-center">[[${cartItem.value.quantity}]]</td>
										<td class="text-center">
											<span th:each="book:${bookList}" th:if="${#strings.equals(book.bookId, cartItem.value.bookId)}">[[${book.unitPrice}]]원</span>
										</td>
										<td class="text-center">[[${cartItem.value.totalPrice}]]원</td>
									</tr>
								</div>
								<tr>
									<td></td>
									<td></td>
									<td class="text-right"><h5><b>총액:</b></h5></td>
									<td class="text-center text-danger"><h4><b>[[${order.grandTotal}]]</b></h4></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="container col-md-12 py-3">
					<a th:href="@{'/order/list'}" role="button" class="btn btn-Secondary">주문목록</a>
					<button type="submit" class="btn btn-info">수정</button>
					<a th:href="@{'/order/delete/' + ${order.orderId}}" role="button" class="btn btn-danger">삭제</a>
				</div>
			</form>
		</div>
	</div>

	<th:block th:replace="~{module/footer}"></th:block>
</div>
</body>
</html>