<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8">
	<title>주문 고객 정보</title>
	<link href="/BookMarket/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<div class="container py-4">
	<header class="pb-3 mb-4 border-bottom">  
		<a href="/BookMarket/home" class="d-flex align-items-center text-body-emphasis text-decoration-none">
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-book-half me-2" viewBox="0 0 16 16">
				<path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
			</svg>
			<span class="fs-4">BookMarket</span>
		</a>
	</header>

	<div class="p-5 mb-4 bg-body-tertiary rounded-3">
 		<div class="container-fluid py-5">
			<h1 class="display-5 fw-bold">주문 고객 정보</h1>
			<p class="col-md-8 fs-4">BookMarket</p>       
		</div>
	</div>

 	<div class="row align-items-md-stretch">
		<form th:object="${customer}" action="/BookMarket/order/orderCustomerInfo" method="post">
			<legend>고객 세부 사항</legend>
			<div class="mb-3 row">
				<label class="col-sm-2 control-label">고객 ID</label>
				<div class="col-sm-3">
					<input type="text" name="customerId" class="form-control" th:field="*{customerId}"/>
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 control-label">성명</label>
				<div class="col-sm-3">
					<input type="text" name="name" class="form-control" th:field="*{name}"/>
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 control-label">전화번호</label>
				<div class="col-sm-3">
					<input type="text" name="phone" class="form-control" th:field="*{phone}"/>
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 control-label">국가명</label>
				<div class="col-sm-3">
					<input type="text" name="address.country" class="form-control" th:field="*{address.country}"/>
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 control-label">우편번호</label>
				<div class="col-sm-3">
					<input type="text" name="address.zipcode" class="form-control" th:field="*{address.zipcode}"/>
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 control-label">기본 주소</label>
				<div class="col-sm-3">
					<input type="text" name="address.addressName" class="form-control" cols="50" rows="2" th:field="*{address.addressName}"/>
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 control-label">상세 주소</label>
				<div class="col-sm-3">
					<input type="text" name="address.detailName" class="form-control" th:field="*{address.detailName}"/>
				</div>
			</div>
			<div class="mb-3 row">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">등록</button>
					<a href="/BookMarket/order/orderCancelled" class="btn btn-secondary" role="button">취소</a>
				</div>
			</div>
		</form>
   </div>
	<footer class="pt-3 mt-4 text-body-secondary border-top">
 		<span class="text-body-secondary"> &copy; BookMarket</span>
	</footer>
</div>
</body>
</html>