<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>주문 고객 정보</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">

</head>
<body>
<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/BookMarket/home" class="d-flex align-items-center text-body-emphasis text-decoration-none">
        <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             width="32px" height="32px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <g>
                        <path fill="#231F20" d="M1.59,0.805C0.59,1.562,0,2.746,0,4v48c0,1.785,1.184,3.355,2.902,3.848L28,64V8L5.098,0.152
                            C3.895-0.188,2.594,0.051,1.59,0.805z"/>
                      <path fill="#231F20" d="M62.41,0.805c-1.004-0.754-2.309-0.992-3.508-0.652L36,8v56l25.098-8.152C62.816,55.355,64,53.785,64,52V4
                            C64,2.746,63.41,1.562,62.41,0.805z"/>
                    </g>
                </svg>
        <span class="fs-4">&nbsp;&nbsp;BookMarket</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">주문 고객 정보</h1>
        <p class="col-md-8 fs-4">BookMarket</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <form th:object="${customer}" action="/BookMarket/order/orderCustomerInfo" method="post">
        <legend>고객 세부 사항</legend>
        <div class="mb-3 row">
          <label class="col-sm-2 control-label">고객Id</label>
          <div class="col-sm-3">
            <input type="text" name="customerId" class="form-control" th:field="*{customerId}"/>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 control-label">성명</label>
          <div class="col-sm-3">
            <input type="text" name="name" class="form-control" th:field="*{name}"/>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 control-label">전화번호</label>
          <div class="col-sm-3">
            <input type="text" name="phone" class="form-control" th:field="*{phone}"/>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 control-label">국가명</label>
          <div class="col-sm-3">
            <input type="text" name="address.country" class="form-control" th:field="*{address.country}"/>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 control-label">우편번호</label>
          <div class="col-sm-3">
            <input type="text" name="address.zipcode" class="form-control" th:field="*{address.zipcode}"/>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 control-label">기본 주소</label>
          <div class="col-sm-3">
            <input type="text" name="address.addressName" class="form-control" th:cols="50" th:rows="2" th:field="*{address.addressName}"/>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 control-label">상세 주소</label>
          <div class="col-sm-3">
            <input type="text" name="address.detail" class="form-control" th:field="*{address.detail}"/>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" value="등록"/>
            <a href="/BookMarket/order/orderCancelled" class=""></a>
          </div>
        </div>
        <div class="row align-items-md-stretch">
          <div class="container">
            <h2 class="alert alert-danger"> 주문해주셔서 감사합니다.</h2>
            <p>주문은 [[${order.shipping.date}]]에 배송될 예정입니다.</p>
            <p>주문번호: [[${order.orderId}]]</p>
            </div>
        </div>
        <br>
        <p><a href="/BookMarket/books" class="btn btn-primary">&laquo; 도서목록</a></p>

      </form>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
      <span class="text-body-secondary">&copy;2025 BookMarket</span>
    </footer>
  </div>
</main>
</body>
</html>